/*Estilizar recibo*/
#recibo {
    margin: 0 200px 0 200px;
    border-radius: 5px;
    background-color: #1e293b;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #f59e0b;
}

#lista-compras {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
}

#lista-compras li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid #334155;
}

.producto {
    color: #e2e8f0;
    text-align: left;
}

.precio {
    color: #94a3b8;
    text-align: right;
}

#redirecciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
}

/*Botones*/
#pagar-boton {
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: #f59e0b;
    color: #0f172a;
    cursor: pointer;
}

#pagar-boton:hover {
  background-color: #d97706;
}

#pagar-boton:active {
    background-color: green;
}