/*Global*/
* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f8fafc;
}

body {
    background-color: #0f172a;
}

/*Barra de navegacion*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#busqueda {
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.iconos {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-left: 5px;
    color: #94a3b8;
}

.iconos svg, .iconos svg path {
  color: inherit;
  fill: currentColor;
}

.iconos:hover {
    color: #f59e0b;
    fill: #f59e0b;
}

#buscar {
    color: black;
    height: 32px;
}